{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>АИС Приёмная Компания</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="user">
        Имя пользователя: {{ user.get_username }}
        <br>
        <a href="{% url 'logout' %}"><button class="button-18">Выйти</button></a>
    </div>
    <div class="tabs">
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
        <label for="tab1" class="tabs__label">Главная</label>
        <div class="tabs__content">
            <table>
                <tr>
                    <th>Статистика по 9 классу</th>
                </tr>
                <tr>
                    <th>Код специальности</th>
                    <th>Специальность</th>
                    <th>Мест бюджета</th>
                    <th>Бюджет</th>
                </tr>
                <tr>
                    <td>Тестовый код</td>
                    <td>Тестовая специальность</td>
                    <td>69</td>
                    <td>Тестовый бюджет</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Гражданство</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>России</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Нуждаются в общежитии</th>
                </tr>
                <tr>
                    <td>жен</td>
                    <td>0</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Последние действия</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
        <label for="tab2" class="tabs__label">Базовые операции</label>
        <div class="tabs__content">
            <div class="smh">
                <a href="registration"><button action="">Регистрация и печать заявлений</button></a>
                <button>Поиск</button>
                <button>Печать журнала регистрации</button>
                <button>Поиск призывников</button>
                <button>Личная карточка (Т2)</button>
            </div>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab3">
        <label for="tab3" class="tabs__label">Статистика</label>
        <div class="tabs__content">
            Ничего
        </div>
        {% if request.user.is_superuser %}
            <input type="radio" class="tabs__radio" name="tabs-example" id="tab4">
            <label for="tab4" class="tabs__label">Системные</label>
            <div class="tabs__content">
                <button>Системный журнал</button>
                <button>Проверка пола по фамилии</button>
            </div>
        {% endif %}
    </div>
</body>
</html>