{% extends 'main/base.html' %}
{% block content %}
    <style>
        table{
            border: 2px solid rgb(140 140 140);
        }
        th, td{
            border: 1px solid rgb(160 160 160);
        }
    </style>
    <div class="tabs">
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
        <label for="tab1" class="tabs__label">Главная</label>
        <div class="tabs__content">
            <table>
                <tr>
                    <th>Статистика по 9 классу</th>
                </tr>
                <tr>
                    <th>Код специальности</th>
                    <th>Специальность</th>
                    <th>Мест бюджета</th>
                </tr>
                {% for obj in spec %}
                <tr>
                    <td>{{ obj.code }}</td>
                    <td>{{ obj.spec_name }}</td>
                    <td align="center">{{ obj.places }}</td>
                </tr>
                {% endfor %}
            </table>
            <table>
                <tr>
                    <th>Гражданство</th>
                    <th>Кол-во</th>
                </tr>
                <tr>
                    <td>России</td>
                    <td align="center">{{ citizen }}</td>
                </tr>
                <tr>
                    <td>Иностранное</td>
                    <td align="center">{{ citizeni }}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Нуждаются в общежитии</th>
                </tr>
                <tr>
                    <td align="center">{{ dorm }}</td>
                </tr>
            </table>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
        <label for="tab2" class="tabs__label">Базовые операции</label>
        <div class="tabs__content">
            <div class="smh">
                <a href="registration" class="button-18">Регистрация заявлений</a>
                <br>
                <a href="search" class="button-18">Поиск</a>
                <br>
            </div>
        </div>
    </div>
{% endblock %}