{% extends 'main/base.html' %}
{% block content %}
<h1>Редактировать</h1>
<br/>
<form action="" method="POST">
        {% csrf_token %}
        <label>Фамилия {{ form.surname }}</label>
        <label>Имя {{ form.name }}</label>
        <label>Отчество {{ form.pname }}</label>
        <label>День рождения {{ form.birthday }}</label>
        <br>
        <fieldset>
            <legend>Документ</legend>
            <fieldset>
                <legend>Документ, удостоверяющий личность</legend>
                <label>Тип документа {{ form_3.choice }}</label>
                <label>Серия {{ form_3.serial_ul }}</label>
                <label>Номер {{ form_3.number_ul }}</label>
                <label>Кем выдан {{ form_3.gave_out }}</label>
                <label>Код подразделения {{ form_3.code }}</label>
                <label>Дата выдачи {{ form_3.date_out }}</label>
                <label>Место рождения {{ form.birthplace }}</label>
                <label>СНИЛС {{ form.insurance }}</label>
            </fieldset>
            <fieldset>
                <legend>Адрес регистрации</legend>
                <label>Телефон {{ form.telephone }}</label>
                <label>Индекс {{ form.index }}</label>
                <label>Республика/край/область {{ form.region }}</label>
                <label>Район {{ form.district }}</label>
                <label>Населенный пункт {{ form.town }}</label>
                <label>Улица, дом, кв. {{ form.place }}</label>
                <label>Фактическое место жительства {{ form.fact_place }}</label>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Образование</legend>
            <fieldset>
                <legend>Документы об образовании</legend>
                <label>Тип документа {{ form_4.eduChoice }}</label>
                <label>Серия {{ form_4.serial_edu }}</label>
                <label>Номер {{ form_4.number_edu }}</label>
                <label>Когда выдан {{ form_4.edu_out }}</label>
                <label>Кем выдан {{ form_4.who_out }}</label>
                <label>Год окончания {{ form_4.year_out }}</label>
                <label>Средний бал {{ form.average_grade }}</label>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Специальности</legend>
            <fieldset>
                <fieldset>
                    <legend>Программа подготовки</legend>
                    <label>{{ form.program }}</label>
                </fieldset>
                <fieldset>
                    <legend>Форма обучения</legend>
                    <label>{{ form.form }}</label>
                </fieldset>
                <fieldset>
                    <legend>Финансирование</legend>
                    {{ form.finance }}
                </fieldset>
                <fieldset>
                    <legend>Курс</legend>
                    {{ form.course }}
                </fieldset>
                <p>Специальность</p>
                {{ form.spec }}
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Дополнительно</legend>
            <label>Требуется общежитие{{ form.dorm }}</label>
            <label>Иностранный язык {{ form.foreign_lan }}</label>
            <fieldset>
                <legend>Родитель</legend>
                <label>Родитель/Опекун {{ form_2.parent }}</label>
                <br><br>
                <label>Фамилия {{ form_2.parent_surname }}</label>
                <label>Имя {{ form_2.parent_name }}</label>
                <label>Отчество {{ form_2.parent_pname }}</label>
                <br><br>
                <label>Телефон {{ form_2.telephone_parent }}</label>
                <label>Дата рождения {{ form_2.birthdate }}</label>
                <label>Место работы {{ form_2.work_place }}</label>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Дополнительные документы</legend>
            <label>Медицинская справка {{ form.med }}</label>
            <label>4 фото 3x4 {{ form.photo }}</label>
            <label>Копия СНИЛС {{ form.copy }}</label>
            <label>Согласие на обработку ПДн {{ form.agreement }}</label>
            {{ form.socialStatus }}
        </fieldset>
        <span>{{ error }}</span>
        <br>
        <input type="submit" value="Сохранить" class="button-18">
    </form>
{% endblock %}